@keyframes btnSpawn {
    from {
        transform: scale(0, 0);
    }

    to {
        transform: scale(1, 1);
    }
}

@keyframes slideRes {
    from {
        transform: translateY(-133px);
    }

    to {
        transform: translateY(0px);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: fixed rgb(87, 154, 255) url(https://source.unsplash.com/random?sig=1) no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;

    margin: 0rem;
    padding: .5rem;

    color: white;

    background-image: linear-gradient(0deg, rgb(0, 102, 255) 0%, rgb(55, 135, 255) 75%);
    
    border-bottom-width: 6px;
    border-color: white;
    border-bottom-style: solid;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: auto;
    width: 40rem;
    
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 0 0 2rem 2rem;
}

#page-desc {    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2.5rem;
}

h1 {
    font-weight: 500;
    font-size: 3.5rem;
    margin: 0 auto;
    letter-spacing: 8px;
}

h2 {
    width: fit-content;
    margin: 0 auto 2rem;
    font-weight: 800;
    font-size: 1.75rem;
    align-items: center;
    justify-content: center;
    color: rgb(0, 102, 255);
}

p {
    margin: .25rem auto;
    width: fit-content;
    font-size: 1.075rem;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    padding: 2rem 4rem;    
}

#radio {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding: .5rem;
    border-radius: 0 0 1rem .5rem;
    background-image: linear-gradient(90deg, rgb(0, 102, 255) 0%, rgb(55, 135, 255) 100%);
}

.input {    
    width: fit-content;
    margin: .25rem 0;
    align-content: center;
    justify-content: center;
}

input:checked~label {
    color: rgb(131, 255, 107);
}

select {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.15rem;
    width: 11.25rem;
    height: 2rem;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-radius: 0 1rem .5rem 0;
    border-color: white;
    background-image: linear-gradient(-90deg, rgb(0, 102, 255) 0%, rgb(55, 135, 255) 100%);
}

option {
    color: rgb(55, 135, 255);
    background-color: white;
}

select:focus {
    outline: none;
}

#button-container {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}

button {
    border: none;
    border-radius: 1.4rem;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    background-image: linear-gradient(45deg, rgb(32, 121, 253) 0% 50%, rgb(131, 255, 107) 90%, rgb(32, 121, 253) 110%);
    background-size: 5rem 4rem;
    transition: background .4s;
    height: 4rem;
    width: 5rem;
}

button:hover {
    background-position: -9rem;
    background-size: 14rem 4rem;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(1.125, 1.125);
    transition-duration: .015s;
    background-image: linear-gradient(45deg, rgb(130, 180, 255) 0% 50%, rgb(184, 255, 170) 90%, rgb(130, 180, 255) 110%);
}

.btn {
    animation-name: btnSpawn;
    animation-duration: .25s;
    animation-timing-function: cubic-bezier(.99,.01,0,1.63);
}

#results {
    z-index: -1;

    animation-name: slideRes;
    animation-duration: .35s;

    display: flex;
    justify-content: center;

    padding: 1rem 2rem 1.5rem 2rem;
    width: 29rem;

    border-radius: 0 0 4.5rem 4.5rem;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    background-image: linear-gradient(0deg, rgb(0, 102, 255) 25%, rgb(55, 135, 255) 75%);
    color: white;
    font-weight: 700;
}

#output {
    width: 23rem;
}

table {
    border-collapse: collapse;    
}

caption {
    margin-bottom: 1.5rem;
    letter-spacing: 3px;
}

tr {
    text-align: left;
    display: grid;
    grid-template-columns: 9rem 7rem 7rem;
}

th {
    margin-bottom: .3rem;
    color: white;
}

td {
    font-size: .8rem;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: .2rem;
}

.cash {
    color: rgb(131, 255, 107);
}
